<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div id="wrapper">
            <form action="survey" method="post">
            <h3> Your Name: <input type="text" name="name"></h3>
            <h3>Dojo Location: <select name="location">
                <option value="Seattle">Seattle</option>
                <option value="Silicon Valley">Silicon Valley</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Dallas">Dallas</option>
                <option value="Washington DC">Washington DC</option>
                <option value="Chicago">Chicago</option>
                <option value="Berkeley">Berkeley</option>
                <option value="Orange County">Orange County</option>
            </select></h3>
            <h3>Favorite Language: <select name="language">
                <option value="IOS Swift">IOS Swift</option>
                <option value="Ruby">Ruby</option>
                <option value="Python">Python</option>
                <option value="MEAN">MEAN</option>
                <option value=".Net Core">.Net Core</option>
            </select></h3>
            <h3>Comment Optional:</h3>
            <textarea name="comment" rows="15"></textarea>
            <input id="button" type="submit" value="submit">
            </form>
        </div>
        
    </body>
</html>
