<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Another cool empty tag</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div id="wrapper">
            <h1> Submitted Info</h1>
            <h2>Name:@ViewBag.Name</h2>
            <h2>Location:@ViewBag.Location</h2>
            <h2>Language:@ViewBag.Language</h2>
            <h2>Comments:@ViewBag.Comment</h2>
       @* This is how you add a Razor comment! Annoying huh? *@
       @* <form action="goback" method="post">
            <input id="button"type="submit" value="Go Back">
        </form> *@
        <a href="/">Go Back</a>
        </div>
        
    </body>
</html>